build*/
bstreams/
examples_hw/speech/
examples_hw/speech_mono/
examples_hw/digi_sign/
examples_hw/digi_sign_mono/
examples_hw/audio/
examples_hw/audio_mono/
examples_hw/signcomp/
examples_hw/signcomp_mono/
examples_hw/secure/
examples_hw/secure_mono/
examples_hw/static/
iprepo/
tmp/
hd_visual/
ip_dir/
xsim.dir/
tb_user/
rust/
.Xil/
csim/
.vscode/
.venv/
__pycache__/
*.pb
*.log
*.tmp
*.jou
*.str
*.xml
*.config
*.zip
*.debug
*.dwo
*.mod
*.mod.dwo
*.cmd
*.symvers
*.ko
*.mod.c
*.mod.o
*.o
*.order
rnd_table
tabulation_table.sv
driver_new
*.dat
*.old
*.bk
*.bak
*.csv
*.out
misc/
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl
*.upgrade_log
*.d
